
  :root {
      --background-primary: rgb(230, 230, 230);
      --highlight-primary: #93279B;
      --black: #000000;

  }

   body {

   }

   .title-container {
       height: 40vh;
       background-color: var(--background-primary);
   }

   .title-hello {
     font-family: 'Bakbak One', cursive;
     font-size: 8rem;
     font-weight: 300;

     color: var(--black)
   }

   .title-name {
    color: var(--black);
    background-color: var(--highlight-primary);

    font-family: 'Bakbak One', cursive;
    font-size: 2rem;
    font-weight 150;

    position: relative;
    top: -2.5rem;
    right: -0.5rem;
  }

  .title-tag {
  font-family: 'Bakbak One', cursive;
  font-size: 1.2rem;

  color: var(--black);
  background-color: var(--background-primary);

  position: relative;
  top: -2.5rem;
  right: -0.5rem;
  }

  .about-me-container {
      width: 80vw;
      height: 40vh;

      margin-left: 10vw;

      background-color: var(--highlight-primary)
  }

  .about-me-image {
    width: 15vw;
    height: 15vw;

    position: relative;
    top: 0.65rem;
    right: -0.5rem;

    border-radius: 100%;

    box-shadow: 10px 5px 10px black;
  }

  .about-me-text {
    color: var(--black);

    font-size: 1.2rem;
    font-family: 'Bakbak One', cursive;

    text-align: left;
    padding-left: 20% !important;
    padding-right: 20% !important;

    position: relative;
    right: -3.05rem;
  }

  .contact-me-container {
    margin-top: 10vh;

      font-size: 2rem;
      font-weight: 700;
      font-family: 'Bakbak One', cursive;

      position: relative;
      right: -11rem;
      bottom: -5rem;
  }

  .contact-me-icon {
    width: 6rem;
    height: 6rem;

    position: relative;
    right: 0rem;
  }

  .achievements-container {
    width: 80vw;
    margin-left: 28vw;
    height: 15rem;

    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .achievements {
    font-size: 1.2rem;
    font-family: 'Bakbak One', cursive;
  }

  .achievements {
    font-size: 2rem;
    font-weight:700;
    font-family: 'Bakbak One', cursive;

    margin-left:10vw;
    margin-top: 10vh;
  }

  .achievements-image {
    width: 20vw;
    height: 20vw;

    position: relative;
    top: -11rem;
    right: -0.5rem;

    border-radius: 50%;
  }
